<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <meta content name='description' />
    <meta content name='keywords' />

    <link href='/static/img/favicon.png' rel='icon' />
    <link href='/static/img/apple-touch-icon.png' rel='apple-touch-icon' />

    <link href='https://fonts.gstatic.com' rel='preconnect' />
    <link
      href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'
      rel='stylesheet' />

    <link
      href='/static/vendor/bootstrap/css/bootstrap.min.css'
      rel='stylesheet' />
    <link
      href='/static/vendor/bootstrap-icons/bootstrap-icons.css'
      rel='stylesheet' />
    <link
      href='/static/vendor/boxicons/css/boxicons.min.css'
      rel='stylesheet' />
    <link href='/static/vendor/quill/quill.snow.css' rel='stylesheet' />
    <link href='/static/vendor/quill/quill.bubble.css' rel='stylesheet' />
    <link href='/static/vendor/remixicon/remixicon.css' rel='stylesheet' />
    <link href='/static/vendor/simple-datatables/style.css' rel='stylesheet' />

    <link href='/static/css/style.css' rel='stylesheet' />

  </head>

  <body>
    <header id='header' class='header fixed-top d-flex align-items-center'>

      <div class='d-flex align-items-center justify-content-between'>
        <a href='/' class='logo d-flex align-items-center'>
          <img src='../public/img/logo.png' alt />
          <span class='d-none d-lg-block'>Shadaii</span>
        </a>
        <i class='bi bi-list toggle-sidebar-btn'></i>
      </div>
      <nav class='header-nav ms-auto'>
        <ul class='d-flex align-items-center'>

          <li class='nav-item d-block d-lg-none'>
            <a class='nav-link nav-icon search-bar-toggle' href='#'>
              <i class='bi bi-search'></i>
            </a>
          </li>
        </ul>
      </nav>

    </header>

    <aside id='sidebar' class='sidebar'>

      <ul class='sidebar-nav' id='sidebar-nav'>
        <li class='nav-heading'>Acciones</li>
        <li class='nav-item'>
          <a class='nav-link' href='/'>
            <i class='bi bi-grid'></i>
            <span>Inicio</span>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link collapsed'
            data-bs-target='#components-nav'
            data-bs-toggle='collapse'
            href='#'>
            <i class='bi bi-cart'></i><span>Ventas</span><i
              class='bi bi-chevron-down ms-auto'></i>
          </a>
          <ul
            id='components-nav'
            class='nav-content collapse'
            data-bs-parent='#sidebar-nav'>
            <li>
              <a href='../ventas/view'>
                <i class='bi bi-circle'></i><span>Registrar una venta</span>
              </a>
            </li>
            <li>
              <a href>
                <i class='bi bi-circle'></i><span>Editar Ventas</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->

        <li class='nav-item'>
          <a
            class='nav-link collapsed'
            data-bs-target='#forms-nav'
            data-bs-toggle='collapse'
            href='#'>
            <i class='bi bi-journal-text'></i><span>Gastos</span><i
              class='bi bi-chevron-down ms-auto'></i>
          </a>
          <ul
            id='forms-nav'
            class='nav-content collapse'
            data-bs-parent='#sidebar-nav'>
            <li>
              <a href='../gastos/view'>
                <i class='bi bi-circle'></i><span>Registrar Gasto</span>
              </a>
            </li>
            <li>
              <a href>
                <i class='bi bi-circle'></i><span>Editar Gastos</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

        <li class='nav-item'>
          <a
            class='nav-link collapsed'
            data-bs-target='#tables-nav'
            data-bs-toggle='collapse'
            href='#'>
            <i
              class='bi bi-layout-text-window-reverse'></i><span>Inventario</span><i
              class='bi bi-chevron-down ms-auto'></i>
          </a>
          <ul
            id='tables-nav'
            class='nav-content collapse'
            data-bs-parent='#sidebar-nav'>
            <li>
              <a href='productos/view'>
                <i class='bi bi-circle'></i><span>Ajustes de Inventario</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>

    <main id='main' class='main'>

      <div class='pagetitle'>
        <h1>Inicio</h1>
        <nav>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='view'>Inventario</a></li>
            <li class='breadcrumb-item active'>Inventario Dashboard</li>
          </ol>
        </nav>
      </div>
      <div class='container mt-5'>
        <h2>Lista de Productos</h2>
        <table class='table'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio de Venta</th>
              <th>Stock</th>
              <th>Feha de Vencimiento</th>
              <th>Referencia de pedido</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each productos}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.nombre}}</td>
              <td>{{this.precio_venta}}</td>
              <td>{{#each this.stock_productos}}
                <div>{{this.stock}}</div>
                {{/each}}</td>
              <td>{{#each this.stock_productos}}
                <div>{{this.fecha_vencimiento}}</div>
                {{/each}}</td>
              <td>{{#each this.stock_productos}}
                <div>{{this.referencia_pedido}}</div>
                {{/each}}</td>
              <td>
                <button
                  class='btn btn-primary'
                  onclick="editarProducto({{this.id}}, '{{this.nombre}}', {{this.precio_venta}})">Editar</button>
                <button
                  class='btn btn-danger'
                  onclick='eliminarProducto({{this.id}})'>Eliminar</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div
        class='modal fade'
        id='editarProductoModal'
        tabindex='-1'
        aria-labelledby='editarProductoModalLabel'
        aria-hidden='true'>
        <div class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class='modal-title' id='editarProductoModalLabel'>Editar
                Producto</h5>
              <button
                type='button'
                class='btn-close'
                data-bs-dismiss='modal'
                aria-label='Close'></button>
            </div>
            <div class='modal-body'>
              <form id='editarProductoForm'>
                <input type='hidden' id='editarProductoId' />
                <div class='mb-3'>
                  <label
                    for='editarProductoNombre'
                    class='form-label'>Nombre</label>
                  <input
                    type='text'
                    class='form-control'
                    id='editarProductoNombre'
                    required />
                </div>
                <div class='mb-3'>
                  <label for='editarProductoPrecio' class='form-label'>Precio de
                    Venta</label>
                  <input
                    type='number'
                    class='form-control'
                    id='editarProductoPrecio'
                    step='0.01'
                    required />
                </div>
                <button type='submit' class='btn btn-primary'>Guardar
                  Cambios</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script>
        function editarProducto(id, nombre, precio_venta) {
        document.getElementById('editarProductoId').value = id;
        document.getElementById('editarProductoNombre').value = nombre;
        document.getElementById('editarProductoPrecio').value = precio_venta;
        var editarProductoModal = new
        bootstrap.Modal(document.getElementById('editarProductoModal'));
        editarProductoModal.show(); }
        document.getElementById('editarProductoForm').addEventListener('submit',
        async function(event) { event.preventDefault(); const id =
        document.getElementById('editarProductoId').value; const nombre =
        document.getElementById('editarProductoNombre').value; const
        precio_venta =
        parseFloat(document.getElementById('editarProductoPrecio').value); const
        response = await fetch(`/productos/${id}`, { method: 'PATCH', headers: {
        'Content-Type': 'application/json' }, body: JSON.stringify({ nombre,
        precio_venta }) }); if (response.ok) { location.reload(); } else {
        alert('Error al actualizar el producto'); } }); async function
        eliminarProducto(id) { const response = await fetch(`/productos/${id}`,
        { method: 'DELETE' }); if (response.ok) { location.reload(); } else {
        alert('Error al eliminar el producto'); } }
      </script>
    </main>

    <footer id='footer' class='footer'>
    </footer>

    <a
      href='#'
      class='back-to-top d-flex align-items-center justify-content-center'><i
        class='bi bi-arrow-up-short'></i></a>

    <script src='/static/vendor/apexcharts/apexcharts.min.js'></script>
    <script src='/static/vendor/bootstrap/js/bootstrap.bundle.min.js'></script>
    <script src='/static/vendor/chart.js/chart.umd.js'></script>
    <script src='/static/vendor/echarts/echarts.min.js'></script>
    <script src='/static/vendor/quill/quill.js'></script>
    <script
      src='/static/vendor/simple-datatables/simple-datatables.js'></script>
    <script src='/static/vendor/tinymce/tinymce.min.js'></script>
    <script src='/static/vendor/php-email-form/validate.js'></script>

    <script src='/static/js/main.js'></script>

  </body>

</html>